<% include  ../partials/header %>
	 
 
	 
	<h3><%= title %></h3>

<div class="row separator">
        
           This is demonstration of cookie writing. The form will write or erase
           a persistent cookie that determines the state of the form. See
           <span class="badge">cookies.server.routes.js</span> for the code.
        
</div>

<div class="row separator">
        <div class="col-sm-5 separator"> 
       
             
            
               
                <form method="post" action="<%= action %>" class="form-inline" name="cookieForm"  novalidate">

                        <div class="checkbox col-sm-5">
                            <label><input id="remember" name="remember" type="checkbox" <%= checked %>  > Remember me</label>
                        </div>
                        <button  type="submit" class="btn btn-primary"><%= buttonText %></button>
                         
               </form>
             
        </div>

         <div class="col-sm-4  separator"> 
            <i> <%= rememberText %></i>
        </div>  
</div>

 
 <% include  ../partials/footer %>